<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hdbl.erp.dao.DayworkRecordDao">

    <!-- 广义覆盖查询-->
    <select id="getRecords" resultType="com.hdbl.erp.entity.DayworkRecord" parameterType="java.lang.Integer" >
        select * from tb_daywork_record
        <where>
            <if test="obj.id"> id = #{obj.id}</if>
            <if test="obj.creatTime"> and  creat_time= #{obj.creatTime}</if>
            <if test="obj.updateTime"> and  update_time= #{obj.updateTime}</if>
            <if test="obj.workerId"> and worker_id = #{obj.workerId}</if>
            <if test="obj.remark"> and remark = #{obj.remark}</if>
            <if test="obj.beginTime"> and begin_time = #{obj.beginTime}</if>
            <if test="obj.endTime"> and  end_time= #{obj.endTime}</if>
            <if test="obj.price"> and price = #{obj.price}</if>
            <if test="obj.state"> and state = #{obj.state}</if>
            <if test="obj.auditorId"> and auditorId = #{obj.auditorId}</if>
            <if test="obj.startTime and obj.finishTime"> and creat_time &gt; #{obj.startTime} and creat_time &lt; #{obj.finishTime}</if>
        </where>
        <if test="obj.page and obj.pageSize"> limit #{obj.page}, #{obj.pageSize}</if>
    </select>

    <!--插入记录列表-->
    <insert id="insertRecords" parameterType="com.hdbl.erp.entity.DayworkRecord">
        insert into tb_daywork_record(worker_id, begin_time, end_time, remark, price, state, auditor_id)
        values
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item.workerId}, #{item.beginTime}, #{item.endTime}
            <choose>
                <when test="item.remark">, #{item.remark}</when>
                <otherwise>, ""</otherwise>
            </choose>
            <choose>
                <when test="item.price">, #{item.price}</when>
                <otherwise>, 0</otherwise>
            </choose>
            <choose>
                <when test="item.state">, #{item.state}</when>
                <otherwise>, 1</otherwise>
            </choose>
            <choose>
                <when test="item.auditorId">, #{item.auditorId}</when>
                <otherwise>, 0</otherwise>
            </choose>
            )
        </foreach>
    </insert>

    <!--修改记录-->
    <update id="updateRecords">
        update tb_daywork_record
        <trim prefix="set" prefixOverrides="and">
            <if test="valueMap.workerId"> and  worker_id = #{valueMap.workerId}</if>
            <if test="valueMap.remark"> and remark = #{valueMap.remark}</if>
            <if test="valueMap.beginTime"> and begin_time = #{valueMap.beginTime}</if>
            <if test="valueMap.endTime"> and  end_time= #{valueMap.endTime}</if>
            <if test="valueMap.price"> and price = #{valueMap.price}</if>
            <if test="valueMap.state"> and state = #{valueMap.state}</if>
            <if test="valueMap.auditorId"> and auditorId = #{valueMap.auditorId}</if>
        </trim>
        <!--<set>-->
            <!--<if test="valueMap.workerId"> and  worker_id = #{valueMap.workerId}</if>-->
            <!--<if test="valueMap.remark"> and remark = #{valueMap.remark}</if>-->
            <!--<if test="valueMap.beginTime"> and begin_time = #{valueMap.beginTime}</if>-->
            <!--<if test="valueMap.endTime"> and  end_time= #{valueMap.endTime}</if>-->
            <!--<if test="valueMap.price"> and price = #{valueMap.price}</if>-->
            <!--<if test="valueMap.state"> and state = #{valueMap.state}</if>-->
            <!--<if test="valueMap.auditorId"> and auditorId = #{valueMap.auditorId}</if>-->
        <!--</set>-->
        <where>
            <if test="location.id"> id = #{location.id}</if>
            <if test="location.creatTime"> and  creat_time= #{location.creatTime}</if>
            <if test="location.updateTime"> and  update_time= #{location.updateTime}</if>
            <if test="location.workerId"> and worker_id = #{location.workerId}</if>
            <if test="location.remark"> and remark = #{location.remark}</if>
            <if test="location.beginTime"> and begin_time = #{location.beginTime}</if>
            <if test="location.endTime"> and  end_time= #{location.endTime}</if>
            <if test="location.price"> and price = #{location.price}</if>
            <if test="location.state"> and state = #{location.state}</if>
            <if test="location.auditorId"> and auditorId = #{location.auditorId}</if>
            <if test="location.startTime and obj.finishTime"> and creat_time &gt; #{location.startTime} and creat_time &lt; #{location.finishTime}</if>
        </where>
    </update>

    <!--删除记录-->
    <delete id="deleteRecords">
        delete from tb_daywork_record
        <where>
            <if test="obj.id"> id = #{obj.id}</if>
            <if test="obj.creatTime"> and  creat_time= #{obj.creatTime}</if>
            <if test="obj.updateTime"> and  update_time= #{obj.updateTime}</if>
            <if test="obj.workerId"> and state = #{obj.worker_id}</if>
            <if test="obj.remark"> and execution_id = #{obj.remark}</if>
            <if test="obj.beginTime"> and begin_time = #{obj.beginTime}</if>
            <if test="obj.endTime"> and  end_time= #{obj.endTime}</if>
            <if test="obj.price"> and equipment_id = #{obj.price}</if>
            <if test="obj.state"> and equipment_id = #{obj.state}</if>
            <if test="obj.auditorId"> and equipment_id = #{obj.auditorId}</if>
            <if test="obj.startTime and obj.finishTime"> and creat_time &gt; #{obj.startTime} and creat_time &lt; #{obj.finishTime}</if>
        </where>
    </delete>

</mapper>