<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hdbl.erp.dao.ProcessHourDao">


    <!-- 新建工艺版本 -->
    <insert id="insertNewProcessVersion" keyProperty="id" keyColumn="id">
        insert into tb_process_hour( process_sequence_id,equipment_id,debug_hour,quota_hour)
        values
        <foreach collection="newVersionHourList" item="item" index="index" separator=",">
            ( #{item.processSequenceId},#{item.equipmentId},#{item.debugHour},#{item.quotaHour})
        </foreach>
    </insert>

</mapper>