<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hdbl.erp.dao.ProcessSequenceDao">

    <!-- 新建工艺版本 -->
    <insert id="insertNewProcessVersion" keyProperty="id" keyColumn="id">
        insert into tb_process_sequence(version_id, sequence_number, process_id, execution_style, supplier_id, is_single)
        values
        <foreach collection="newVersionSequenceList" item="item" index="index" separator=",">
            ( #{item.versionId}, #{item.sequenceNumber}, #{item.processId}, #{item.executionStyle}, #{item.supplierId}, #{item.isSingle} )
        </foreach>

    </insert>
</mapper>