<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hdbl.erp.dao.ProcessVersionDao">
    <select id="select">
        select * from tb_process_version
        <where>
            <if test="obj.id">and id = #{obj.id}</if>
            <if test="obj.creatTime">and creat_time = #{obj.creatTime}</if>
            <if test="obj.updateTime">and update_time = #{obj.updateTime}</if>
            <if test="obj.updater">and updater = #{obj.updater}</if>
            <if test="obj.type">and type = #{obj.type}</if>
            <if test="obj.productId">and product_id = #{obj.productId}</if>
            <if test="obj.">and  = #{obj.}</if>
            <if test="obj.versionNumber">and version_number = #{obj.versionNumber}</if>
            <if test="obj.versionState">and version_state = #{obj.versionState}</if>
        </where>
        <if test="obj.page and obj.pageSize">limit #{obj.page}, #{obj.pageSize}</if>
    </select>
    <update id="update">
        update tb_process_version
        <trim prefix="set" prefixOverrides="and">
            <if test="data.id">and id = #{data.id}</if>
            <if test="data.creatTime">and creat_time = #{data.creatTime}</if>
            <if test="data.updateTime">and update_time = #{data.updateTime}</if>
            <if test="data.updater">and updater = #{data.updater}</if>
            <if test="data.type">and type = #{data.type}</if>
            <if test="data.productId">and product_id = #{data.productId}</if>
            <if test="data.">and  = #{data.}</if>
            <if test="data.versionNumber">and version_number = #{data.versionNumber}</if>
            <if test="data.versionState">and version_state = #{data.versionState}</if>
        </trim>
        <where>
            <if test="condition.id">and id = #{condition.id}</if>
            <if test="condition.creatTime">and creat_time = #{condition.creatTime}</if>
            <if test="condition.updateTime">and update_time = #{condition.updateTime}</if>
            <if test="condition.updater">and updater = #{condition.updater}</if>
            <if test="condition.type">and type = #{condition.type}</if>
            <if test="condition.productId">and product_id = #{condition.productId}</if>
            <if test="condition.">and  = #{condition.}</if>
            <if test="condition.versionNumber">and version_number = #{condition.versionNumber}</if>
            <if test="condition.versionState">and version_state = #{condition.versionState}</if>
        </where>
    </update>
    <delete id="delete">
        delete from tb_process_version
        <where>
            <if test="obj.id">and id = #{obj.id}</if>
            <if test="obj.creatTime">and creat_time = #{obj.creatTime}</if>
            <if test="obj.updateTime">and update_time = #{obj.updateTime}</if>
            <if test="obj.updater">and updater = #{obj.updater}</if>
            <if test="obj.type">and type = #{obj.type}</if>
            <if test="obj.productId">and product_id = #{obj.productId}</if>
            <if test="obj.">and  = #{obj.}</if>
            <if test="obj.versionNumber">and version_number = #{obj.versionNumber}</if>
            <if test="obj.versionState">and version_state = #{obj.versionState}</if>
        </where>
    </delete>
    <insert id="insert">
        insert into tb_process_version(updater,type,product_id,,version_number,version_state)
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item.updater},#{item.type},#{item.productId},#{item.},#{item.versionNumber},#{item.versionState})
        </foreach>
    </insert>

</mapper>