<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hdbl.erp.dao.ProcessVersionDao">


    <select id="getVersionById" resultMap="ProcessVersion" parameterType="int">
        select * from tb_process_version where id = #{id};
    </select>
    <select id="getVersionsByProduct" resultMap="ProcessVersion">
        select * from tb_process_version where product_id = #{id} and type = #{type} and version_state = #{state};
    </select>
    <resultMap id="ProcessVersion" type="com.hdbl.erp.entity.ProcessVersionBean">
        <id column="id" property="id" ></id>
        <result property="creatTime" column="creat_time" />
        <result property="updateTime" column="update_time" />
        <result property="updaterId" column="updater_id" />
        <result property="productId" column="product_id" />
        <result property="versionNumber" column="version_number" />
        <result property="type" column="type" />
        <result property="versionState" column="version_state" />
        <collection property="processSequenceList" select="getProcessSequenceByVersionId" column="id" ofType="com.hdbl.erp.entity.ProcessSequenceBean" />
    </resultMap>

    <select id="getProcessSequenceByVersionId" resultMap="ProcessSequence">
        SELECT
          tps.*,
          tp.name AS process_name,
          ts.simple_name AS supplier_name
        FROM
          tb_process_sequence AS tps
          LEFT JOIN tb_process AS tp
          ON tps.process_id = tp.id
          LEFT JOIN tb_supplier AS ts
          ON tps.supplier_id = ts.id
        WHERE version_id = #{id};
    </select>
    <resultMap id="ProcessSequence" type="com.hdbl.erp.entity.ProcessSequenceBean">
        <id property="id" column="id" />
        <result property="creatTime" column="creat_time" />
        <result property="updateTime" column="update_time" />
        <result property="versionId" column="version_id" />
        <result property="sequenceNumber" column="sequence_number" />
        <result property="processId" column="process_id" />
        <result property="processName" column="process_name" />
        <result property="executionStyle" column="execution_style" />
        <result property="supplierId" column="supplier_id" />
        <result property="supplierName" column="supplier_name" />
        <result property="isDouble" column="is_double" />
        <collection property="processHourList" select="getProcessHourByProcessId" column="id" ofType="com.hdbl.erp.entity.ProcessHourBean"/>
    </resultMap>

    <select id="getProcessHourByProcessId" resultType="com.hdbl.erp.entity.ProcessHourBean" parameterType="int">
        SELECT
          tph.*,
          te.number as equipment_number,
          te.name as equipment_name
        FROM
          tb_process_hour AS tph
          LEFT JOIN tb_equipment AS te
          ON tph.equipment_id = te.id
        WHERE process_sequence_id = #{id}
    </select>

</mapper>