<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hdbl.erp.dao.ProdNotification">
    <select id="select">
        select * from tb_notice_production
        <where>
            <if test="obj.id">and id = #{obj.id}</if>
            <if test="obj.creatTime">and creat_time = #{obj.creatTime}</if>
            <if test="obj.updateTime">and update_time = #{obj.updateTime}</if>
            <if test="obj.state">and state = #{obj.state}</if>
            <if test="obj.visibility">and visibility = #{obj.visibility}</if>
            <if test="obj.notice_number">and notice_number = #{obj.notice_number}</if>
            <if test="obj.working_number">and working_number = #{obj.working_number}</if>
            <if test="obj.orderUnit">and order_unit = #{obj.orderUnit}</if>
            <if test="obj.deliveryMethod">and delivery_method = #{obj.deliveryMethod}</if>
            <if test="obj.deliveryState">and delivery_state = #{obj.deliveryState}</if>
            <if test="obj.deliveryPlace">and delivery_place = #{obj.deliveryPlace}</if>
            <if test="obj.isInBatches">and is_in_batches = #{obj.isInBatches}</if>
            <if test="obj.deliveryDate">and delivery_date = #{obj.deliveryDate}</if>
            <if test="obj.remark">and remark = #{obj.remark}</if>
            <if test="obj.compilingPerson">and compiling_person = #{obj.compilingPerson}</if>
            <if test="obj.submitTime">and submit_time = #{obj.submitTime}</if>
            <if test="obj.auditor">and auditor = #{obj.auditor}</if>
            <if test="obj.auditTime">and audit_time = #{obj.auditTime}</if>
            <if test="obj.auditRemark">and audit_remark = #{obj.auditRemark}</if>
            <if test="obj.approver">and approver = #{obj.approver}</if>
            <if test="obj.approveTime">and approve_time = #{obj.approveTime}</if>
            <if test="obj.approveRemark">and approve_remark = #{obj.approveRemark}</if>
        </where>
        <if test="obj.page and obj.pageSize">limit #{obj.page}, #{obj.pageSize}</if>
    </select>
    <select id="summary">
        select count(*) from tb_notice_production
        <where>
            <if test="obj.state">
                and state = #{obj.state}
            </if>
        </where>
    </select>



    <update id="update">
        update tb_notice_production
        <trim prefix="set" prefixOverrides="and">
            <if test="data.id">and id = #{data.id}</if>
            <if test="data.creatTime">and creat_time = #{data.creatTime}</if>
            <if test="data.updateTime">and update_time = #{data.updateTime}</if>
            <if test="data.state">and state = #{data.state}</if>
            <if test="data.visibility">and visibility = #{data.visibility}</if>
            <if test="data.notice_number">and notice_number = #{data.notice_number}</if>
            <if test="data.working_number">and working_number = #{data.working_number}</if>
            <if test="data.orderUnit">and order_unit = #{data.orderUnit}</if>
            <if test="data.deliveryMethod">and delivery_method = #{data.deliveryMethod}</if>
            <if test="data.deliveryState">and delivery_state = #{data.deliveryState}</if>
            <if test="data.deliveryPlace">and delivery_place = #{data.deliveryPlace}</if>
            <if test="data.isInBatches">and is_in_batches = #{data.isInBatches}</if>
            <if test="data.deliveryDate">and delivery_date = #{data.deliveryDate}</if>
            <if test="data.remark">and remark = #{data.remark}</if>
            <if test="data.compilingPerson">and compiling_person = #{data.compilingPerson}</if>
            <if test="data.submitTime">and submit_time = #{data.submitTime}</if>
            <if test="data.auditor">and auditor = #{data.auditor}</if>
            <if test="data.auditTime">and audit_time = #{data.auditTime}</if>
            <if test="data.auditRemark">and audit_remark = #{data.auditRemark}</if>
            <if test="data.approver">and approver = #{data.approver}</if>
            <if test="data.approveTime">and approve_time = #{data.approveTime}</if>
            <if test="data.approveRemark">and approve_remark = #{data.approveRemark}</if>
        </trim>
        <where>
            <if test="condition.id">and id = #{condition.id}</if>
            <if test="condition.creatTime">and creat_time = #{condition.creatTime}</if>
            <if test="condition.updateTime">and update_time = #{condition.updateTime}</if>
            <if test="condition.state">and state = #{condition.state}</if>
            <if test="condition.visibility">and visibility = #{condition.visibility}</if>
            <if test="condition.notice_number">and notice_number = #{condition.notice_number}</if>
            <if test="condition.working_number">and working_number = #{condition.working_number}</if>
            <if test="condition.orderUnit">and order_unit = #{condition.orderUnit}</if>
            <if test="condition.deliveryMethod">and delivery_method = #{condition.deliveryMethod}</if>
            <if test="condition.deliveryState">and delivery_state = #{condition.deliveryState}</if>
            <if test="condition.deliveryPlace">and delivery_place = #{condition.deliveryPlace}</if>
            <if test="condition.isInBatches">and is_in_batches = #{condition.isInBatches}</if>
            <if test="condition.deliveryDate">and delivery_date = #{condition.deliveryDate}</if>
            <if test="condition.remark">and remark = #{condition.remark}</if>
            <if test="condition.compilingPerson">and compiling_person = #{condition.compilingPerson}</if>
            <if test="condition.submitTime">and submit_time = #{condition.submitTime}</if>
            <if test="condition.auditor">and auditor = #{condition.auditor}</if>
            <if test="condition.auditTime">and audit_time = #{condition.auditTime}</if>
            <if test="condition.auditRemark">and audit_remark = #{condition.auditRemark}</if>
            <if test="condition.approver">and approver = #{condition.approver}</if>
            <if test="condition.approveTime">and approve_time = #{condition.approveTime}</if>
            <if test="condition.approveRemark">and approve_remark = #{condition.approveRemark}</if>
        </where>
    </update>

    <delete id="delete">
        delete from tb_notice_production
        <where>
            <if test="obj.id">and id = #{obj.id}</if>
            <if test="obj.creatTime">and creat_time = #{obj.creatTime}</if>
            <if test="obj.updateTime">and update_time = #{obj.updateTime}</if>
            <if test="obj.state">and state = #{obj.state}</if>
            <if test="obj.visibility">and visibility = #{obj.visibility}</if>
            <if test="obj.notice_number">and notice_number = #{obj.notice_number}</if>
            <if test="obj.working_number">and working_number = #{obj.working_number}</if>
            <if test="obj.orderUnit">and order_unit = #{obj.orderUnit}</if>
            <if test="obj.deliveryMethod">and delivery_method = #{obj.deliveryMethod}</if>
            <if test="obj.deliveryState">and delivery_state = #{obj.deliveryState}</if>
            <if test="obj.deliveryPlace">and delivery_place = #{obj.deliveryPlace}</if>
            <if test="obj.isInBatches">and is_in_batches = #{obj.isInBatches}</if>
            <if test="obj.deliveryDate">and delivery_date = #{obj.deliveryDate}</if>
            <if test="obj.remark">and remark = #{obj.remark}</if>
            <if test="obj.compilingPerson">and compiling_person = #{obj.compilingPerson}</if>
            <if test="obj.submitTime">and submit_time = #{obj.submitTime}</if>
            <if test="obj.auditor">and auditor = #{obj.auditor}</if>
            <if test="obj.auditTime">and audit_time = #{obj.auditTime}</if>
            <if test="obj.auditRemark">and audit_remark = #{obj.auditRemark}</if>
            <if test="obj.approver">and approver = #{obj.approver}</if>
            <if test="obj.approveTime">and approve_time = #{obj.approveTime}</if>
            <if test="obj.approveRemark">and approve_remark = #{obj.approveRemark}</if>
        </where>
    </delete>
    <insert id="insert">
        insert into tb_notice_production(state,visibility,notice_number,working_number,order_unit,delivery_method,delivery_state,delivery_place,is_in_batches,delivery_date,remark,compiling_person,submit_time,auditor,audit_time,audit_remark,approver,approve_time,approve_remark)
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item.state},#{item.visibility},#{item.notice_number},#{item.working_number},#{item.orderUnit},#{item.deliveryMethod},#{item.deliveryState},#{item.deliveryPlace},#{item.isInBatches},#{item.deliveryDate},#{item.remark},#{item.compilingPerson},#{item.submitTime},#{item.auditor},#{item.auditTime},#{item.auditRemark},#{item.approver},#{item.approveTime},#{item.approveRemark})
        </foreach>
    </insert>

</mapper>