<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hdbl.erp.dao.UserDao">
    <!--
        private int  id;
        private Date creatTime;
        private Date updateTime;
        private String username;
        private String password;
        private String name;
        private String phoneNumber;
        private int  state;
        private String openid; -->
        <!-- 广义查询-->
    <select id="select" resultType="com.hdbl.erp.entity.UserBean" parameterType="java.util.HashMap">
        select * from tb_user
        <where>
          <if test="obj.id!=null">
            id = #{obj.id}
          </if>
          <if test="obj.username!=null">
            and username=#{obj.username}
          </if>
          <if test="obj.password!=null">
              and password = #{obj.password}
          </if>
          <if test="obj.phoneNumber!=null">
              and phone_number = #{obj.phoneNumber}
          </if>
        </where>
        <if test="obj.page and obj.pageSize"> limit #{obj.page}, #{obj.pageSize}</if>
    </select>
    <insert id="insert" parameterType="com.hdbl.erp.entity.UserBean">
        insert into tb_user(creat_time,update_time,username,password,name,phone_number,state,openid)
        values
        <foreach collection="list" item="item" separator=",">
            (#{item.creatTime},
            #{item.updateTime},
            #{item.username},
            #{item.password},
            #{item.name},
            #{item.phoneNumber},
            #{item.state},
            #{item.openid}
            )
        </foreach>

    </insert>
    <delete id="delete" parameterType="com.hdbl.erp.entity.UserBean" >
        delete from tb_user
        <where>
            <if test="obj.id!=null">
                id = #{obj.id}
            </if>
            <if test="obj.username!=null">
                and username=#{obj.username}
            </if>
            <if test="obj.password!=null">
                and password = #{obj.password}
            </if>
            <if test="obj.phoneNumber!=null">
                and phone_number = #{obj.phoneNumber}
            </if>
        </where>
    </delete>

</mapper>